VITE_FIREBASE_API_KEY=AIzaSyCMYvx4SQ6-fDYqsjm_47ce-9R3H8QXCCo
VITE_FIREBASE_AUTH_DOMAIN=recipeapp-dc6d4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=recipeapp-dc6d4
VITE_FIREBASE_STORAGE_BUCKET=recipeapp-dc6d4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=585192268107
VITE_FIREBASE_APP_ID=1:585192268107:web:5d46efd038a67186d888ce